{# 
/**
 * @file
 * UMD Libraries Digital Details component.
 *
 */
 #}

{% set scpa_collections = ['International Piano Archives at Maryland', 'Michelle Smith Performing Arts Library', 'Special Collections in Performing Arts'] %}
{% if aeon_collection in scpa_collections %}
  {% set scpa_collection = 'SCPA' %}
{% else %}
  {% set scpa_collection = 'MDRM' %}
{% endif %}

<div class="umd-lib digital-collection fcrepo-details s-box-page-medium-h s-center s-page-lock umd-lib-layout layout--custom top-margin {{ classes}} ">
  {# breadcrumb #}
  {% if breadcrumb %}
      {{ breadcrumb }}
  {% endif %}
  
  {# page heading #}
  {% if page_heading %}
    <h1 class="t-headline s-margin-general-medium">{{ page_heading }}</h1>
  {% endif %}

  {# mirador viewer #}
  {% if iiif_id %}
    {% set query_param = app.request.get('query') %}
    {% set query_param2 = app.request.query.all %}
    <iframe class="mirador-viewer s-margin-general-medium"
      title="Mirador Object"
      src="{{ iiif_base }}{{ iiif_id }}&iiifURLPrefix={{ iiif_prefix }}&q={{ fc_url_query() }}"
      scrolling="no"
      allowfullscreen="true"
      webkitallowfullscreen="true"
      mozallowfullscreen="true">
        {{ error_message }}
    </iframe>
  {% endif %}

  {# action area #}
  {% if show_actions %}
    {% if actions_heading %}
      <h2 class="t-title-large s-margin-general-medium">{{ actions_heading }}</h2>
    {% endif %}

    <div class="action-area s-margin-general-medium">
      <div class="button-group s-margin-general-small">
        {% if handle %}
          <button data-clipboard-text="{{ handle }}" class="button umd-lib clipboardjs-button">Copy Permanent Link</button>
        {% endif %}
        {% if show_aeon %}
          <a target="_blank"
            href="https://aeon.lib.umd.edu/Logon/?Action=10&Form=23&ItemTitle={{ title }}&ItemAuthor={{ creator }}&ItemDate={{ date }}&Site={{ scpa_collection }}&Location={{ aeon_collection }}&ReferenceNumber={{ handle }}&CallNumber={{ call_number }}"
            class="button umd-lib">
            <span><svg title="new window icon" id="icon_new_window" aria-hidden="true" data-name="new-window-icon" viewBox="0 0 13 9" xmlns="http://www.w3.org/2000/svg"><path class="cls-1" d="M6.67,2.28H1.28S3.63,0,3.63,0h4.49s2.29,0,2.29,0h0s0,2.28,0,2.28h0v4.49s-2.29,2.35-2.29,2.35V3.95S1.55,10.67,1.55,10.67l-1.55-1.55L6.67,2.28Z"></path></svg></span>Request This Item<span class="sr-only">(opens in a new window)</span>
          </a>
        {% endif %}
        {% if downloadable %}
          <a class="button umd-lib" role="button" href="{{ downloadable }}">PDF Download</a>
        {% endif %}
      </div>
      <div class="action-messages">
        <div id="clipboardjs-alert" aria-live="polite"></div>
        <div id="copy-error" aria-live="polite"></div>
      </div>
    </div>
  {% endif %}

  {# metadata area #}
  <h2 class="t-title-large s-margin-general-medium">{{ metadata_heading }}</h2>
  <dl class="metadata-list s-margin-general-medium">
    {% if title %}
      <div>
        <dt class="t-title-small c-content-primary">{{ title_label|default('Title') }}</dt>
        <dd class="t-body-medium">{{ title }}</dd>
      </div>
    {% endif %}
    {% if description %}
      <div>
        <dt class="t-title-small c-content-primary">{{ description_label|default('Description') }}</dt>
        <dd class="t-body-medium">{{ description }}</dd>
      </div>
    {% endif %}
    {% if date %}
      <div>
        <dt class="t-title-small c-content-primary">{{ date_label|default('Date') }}</dt>
        <dd class="t-body-medium">{{ date }}</dd>
      </div>
    {% endif %}
    {% if location %}
      <div>
        <dt class="t-title-small c-content-primary">{{ location_label|default('Location') }}</dt>
        <dd class="t-body-medium">{{ location }}</dd>
      </div>
    {% endif %}
    {% if subject %}
      <div>
        <dt class="t-title-small c-content-primary">{{ subject_label|default('Subject(s)') }}</dt>
        <dd class="t-body-medium">{{ subject }}</dd>
      </div>
    {% endif %}
    {% if citation %}
      <div>
        <dt class="t-title-small c-content-primary">{{ citation_label|default('Citation') }}</dt>
        <dd class="t-body-medium">{{ citation }}</dd>
      </div>
    {% endif %}
    {% if handle %}
      <div>
        <dt class="t-title-small c-content-primary">Permanent Link</dt>
        <dd class="t-body-medium">{{ handle }}</dd>
      </div>
    {% endif %}
    {% if rights %}
      <div>
        <dt class="t-title-small c-content-primary">Rights</dt>
        <dd class="t-body-medium">{{ rights }}</dd>
      </div>
    {% endif %}
    {% if extent %}
      <div>
        <dt class="t-title-small c-content-primary">{{ extent_label|default('Extent') }}</dt>
        <dd class="t-body-medium">{{ extent }}</dd>
      </div>
    {% endif %}
    {% if creator %}
      <div>
        <dt class="t-title-small c-content-primary">{{ creator_label|default('Creator') }}</dt>
        <dd class="t-body-medium">{{ creator }}</dd>
      </div>
    {% endif %}
    {% if contributor %}
      <div>
        <dt class="t-title-small c-content-primary">{{ contributor_label|default('Contributor(s)') }}</dt>
        <dd class="t-body-medium">{{ contributor }}</dd>
      </div>
    {% endif %}
    {% if publisher %}
      <div>
        <dt class="t-title-small c-content-primary">{{ publisher_label|default('Publisher') }}</dt>
        <dd class="t-body-medium">{{ publisher }}</dd>
      </div>
    {% endif %}
    {% if resource_type %}
      <div>
        <dt class="t-title-small c-content-primary">{{ resource_type_label|default('Resource Type') }}</dt>
        <dd class="t-body-medium">{{ resource_type }}</dd>
      </div>
    {% endif %}
    {% if recipient %}
      <div>
        <dt class="t-title-small c-content-primary">{{ recipient_label|default('Recipient') }}</dt>
        <dd class="t-body-medium">{{ recipient }}</dd>
      </div>
    {% endif %}
    {% if terms %}
      <div>
        <dt class="t-title-small c-content-primary">{{ terms_label|default('Terms of Use') }}</dt>
        <dd class="t-body-medium">{{ terms }}</dd>
      </div>
    {% endif %}
    {% if field_1 %}
      <div>
        <dt class="t-title-small c-content-primary">{{ field_1_label }}</dt>
        <dd class="t-body-medium">{{ field_1 }}</dd>
      </div>
    {% endif %}
    {% if field_2 %}
      <div>
        <dt class="t-title-small c-content-primary">{{ field_2_label }}</dt>
        <dd class="t-body-medium">{{ field_2 }}</dd>
      </div>
    {% endif %}
    {% if field_3 %}
      <div>
        <dt class="t-title-small c-content-primary">{{ field_3_label }}</dt>
        <dd class="t-body-medium">{{ field_3 }}</dd>
      </div>
    {% endif %}
    {% if field_4 %}
      <div>
        <dt class="t-title-small c-content-primary">{{ field_4_label }}</dt>
        <dd class="t-body-medium">{{ field_4 }}</dd>
      </div>
    {% endif %}
    {% if field_5 %}
      <div>
        <dt class="t-title-small c-content-primary">{{ field_5_label }}</dt>
        <dd class="t-body-medium">{{ field_5 }}</dd>
      </div>
    {% endif %}
  </dl>

  {# collection area #}
  {% if collection %}
    <h2 class="t-title-large s-margin-general-medium">{{ collections_heading }}</h2>
    <dl class="collection-list s-margin-general-medium">
      {{ collection }}
    </dl>
  {% endif %}
</div>